# SPDX-License-Identifier: GPL-2.0
.*
*.a
*.asn1.[ch]
# *.bin
*.bz2
*.c.[012]
*.dt.yaml
*.dtb
*.dtbo
*.dtb.S
*.dtbo.S
*.dwo
*.elf
*.gcno
*.gz
*.i
*.ko
*.lex.c
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod
*.mod.c
*.o
*.o.*
*.patch
*.rmeta
*.rpm
*.rsi
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.symversions
*.tab.[ch]
*.tar
*.xz
*.zst
Module.symvers
modules.order

!.clang-format
!.cocciconfig
!.editorconfig
!.gitattributes
!.gitignore
!.kunitconfig
!.mailmap
!.rustfmt.toml
!.format
