# ---------------------------------------------------
# Platform Options
# ---------------------------------------------------
CONFIG_MTK_WIFI_ONLY := m
CONFIG_MTK_COMBO_WIFI_HIF = sdio
WIFI_TARGET := mt76x8
MODULE_NAME := wlan_$(WIFI_TARGET)_$(CONFIG_MTK_COMBO_WIFI_HIF)

#/***** Manage configs into compile options ******/
# Define maximum different channels supported for ieee80211_iface_combination setting.
CFG_NUM_DIFFERENT_CHANNELS_STA=1
CFG_NUM_DIFFERENT_CHANNELS_P2P=1

# Define initial driver running mode.
# 0=RUNNING_P2P_MODE, 1=RUNNING_AP_MODE, 2=RUNNING_DUAL_AP_MODE, 3=RUNNING_P2P_AP_MODE
CFG_DRIVER_INITIAL_RUNNING_MODE=3

# Define to enable Android wake_lock
CFG_ENABLE_WAKE_LOCK=0
CFG_DEFAULT_DBG_LEVEL=0xF
CFG_TX_DIRECT_USB=1
CFG_RX_DIRECT_USB=1
CFG_USB_REQ_TX_DATA_FFA_CNT=6
CFG_USB_REQ_TX_DATA_CNT=2
CFG_USB_REQ_RX_DATA_CNT=4
CFG_ENABLE_EFUSE_MAC_ADDR=1
CFG_SUPPORT_SINGLE_SKU_LOCAL_DB=0
#CFG_SUPPORT_DFS_MASTER=1
CFG_SCAN_CHANNEL_SPECIFIED=1
CFG_SUPPORT_SAME_BSS_REASSOC=1
# Report all bss networks to cfg80211 when do p2p scan
CFG_P2P_SCAN_REPORT_ALL_BSS=0

# Support to change sta, p2p, ap interface names
# y: enable, n: disable
# eg. insmod wlan_mt76x8_usb.ko sta=wlan p2p=p2p ap=ap
CFG_DRIVER_INF_NAME_CHANGE=n

CFG_CHIP_RESET_SUPPORT=1
CFG_RX_SINGLE_CHAIN_SUPPORT=1

#CFG_SUPPORT_SINGLE_SKU_LOCAL_DB=
#CFG_SUPPORT_DFS_MASTER=

# ---------------------------------------------------
# Compile Options
# ---------------------------------------------------
WLAN_CHIP_LIST:=-UMT6620 -UMT6628 -UMT5931 -UMT6630 -UMT6632
CFG_SUPPORT_DEBUG_FS=1
#WLAN_INCLUDE_PROC=
CFG_SUPPORT_AGPS_ASSIST=1
CFG_SUPPORT_TSF_USING_BOOTTIME=1

CONFIG_MTK_WIFI_MCC_SUPPORT=y

MTK_MET_PROFILING_SUPPORT=yes

MTK_MET_TAG_SUPPORT=no

CFG_SUPPORT_STA_P2P_MCC=y

CFG_DUMP_TXPOWR_TABLE=y

CFG_SUPPORT_DISABLE_BCN_HINTS=y

CFG_ENABLE_PS_INTV_CTRL=y

CFG_ENABLE_1RPD_MMPS_CTRL=y

CFG_ENABLE_DEWEIGHTING_CTRL=y

#enable wifi temperature sensor reading
CFG_GET_TEMPURATURE=y

#config to register the wifi sensor only as a physical sensor and not virtual
CFG_TEMP_SENSOR_AS_PHYSICAL_ONLY=y

# Support SAP switch to DFS channel Feature
CFG_SUPPORT_SAP_DFS_CHANNEL=y

# Support TX WMM Enhance for DBDC
CFG_TX_WMM_ENHANCE=y

#For Multicast Enhancement
CFG_SUPPORT_MULTICAST_ENHANCEMENT=y

#For Multicast loopback support
#Lookback is only sypport when CFG_SUPPORT_MULTICAST_ENHANCEMENT enable
#CFG_SUPPORT_MULTICAST_ENHANCEMENT_LOOKBACK=y

#Support SAP to bypass CAC and disable RDD for AVLS scenario
CFG_SUPPORT_DISABLE_SAP_DFS_RDD=y

##
#CONFIG_MTK_AEE_FEATURE=
#TARGET_BUILD_VARIANT=
#CONFIG_MTK_COMBO_WIFI=M
#CFG_CFG80211_VERSION=
#CONFIG_MTK_PASSPOINT_R1_SUPPORT=
#CONFIG_MTK_PASSPOINT_R2_SUPPORT=
#PLATFORM_FLAGS=
#WLAN_INCLUDE_PROC=
CFG_KEY_ERROR_STATISTIC_RECOVERY=y

CFG_DFS_NEWCH_DFS_FORCE_DISCONNECT=y

CONFIG_MTK_WPA3_SUPPORT=y
CFG_SUPPORT_H2E=y

